body {
    padding: 0 2em;
}

.chart_row {
    position: relative;
    margin: 1.2em 0 0 0;
}

h2, h3 {
    font-size: 1.1em;
    font-family: Hack, Menlo, Fira Code, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 500;
    margin: 0;
}
h3 {
    position: absolute;
    right: 0;
    top: 0;
}

svg text{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-feature-settings: "tnum" on,"lnum" on;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 10px;
 }
