html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    background: #ddd;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "tnum" on, "lnum" on;

    /* font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;

    font-size: 14px;
    line-height: 1.6;
    color: #000;
    cursor: default;
}

#root {
    min-width: 1500px;
    max-width: 1800px;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
}

.logo_panel {
    padding: 0 20px 50px 20px;
    position: relative;
}

.logo {
    background-image: url('/static/favicon.png');
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 17px;
    font: 12px "PT Sans", sans-serif;
    letter-spacing: 0.5px;
}

.logo .logo_text {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 30px;
    padding-top: 6px;
}



.dashboard {
    display: flex;
    flex-direction: row;
    height: 100vh;
    border-right: 5px solid #ccc;
    border-left: 5px solid #ccc;
    margin: 0 -5px;
    height: -webkit-fill-available;
}

.left_sidebar {
    border-right: 5px solid #eee;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.backtest .left_sidebar {
    width: 240px;
}

.second_sidebar {
    border-right: 5px solid #eee;
    width: 240px;
}

.main {
    flex-grow: 1;
}

.health_panel {
    border-bottom: 5px solid #eee;
    padding: 0 20px 15px 20px;
}

.health_panel .accounts span {
    margin-right: 15px;
    border-bottom: 1px dashed;
    cursor: pointer;
}

.health_panel .tradis_link {
    float: right;
    color: #58e;
}

/* Account */
.account_panel {
    border-bottom: 5px solid #eee;
    padding: 5px 20px;
}

.account_uid {
    margin: 10px 0;
}
.account_values {
    margin: 10px 0;
}
.account_values div {
    margin: 3px 0;
}

.account_panel .connections .status-connected {
    color: green;
}

.account_panel .connections .status-connecting {
    color: #58e;
}

.account_panel .connections .status-inactive {
    color: #999;
}

.account_panel .connections .status-disconnected {
    color: #d00;
}

.account_panel .delay {
    font-size: 0.8em;
    color: #aaa;
    margin-left: 15px;
}

.account_panel .long_delay {
    color: #d00;
}


/* Positions */
.positions_panel {
    overflow-y: scroll;
}

.positions {
    width: 100%;
    border-collapse: collapse;
}

.positions thead td {
    color: #999;
    font-weight: normal;
}

.positions td.amount {
    font-weight: 500;
}

.positions .short td.amount {
    color: #d00;
}

.positions .long td.amount {
    color: #080;
}

.positions .zero td {
    color: #aaa;
}

.positions td {
    padding: 8px;
    text-align: right;
    border-bottom: 1px solid #ddd;
}

.positions td:first-child {
    text-align: left;
    padding-left: 20px;
}

.positions td:last-child {
    padding-right: 20px;
}

.positions .active td {
    background: #f0f5fa;
}



/* Backtest Results */

.results {
    width: 100%;
    border-collapse: collapse;
}

.results thead td {
    color: #999;
    font-weight: normal;
}

.results td {
    padding: 8px;
    text-align: right;
    border-bottom: 1px solid #ddd;
}

.results td:first-child {
    text-align: left;
    padding-left: 20px;
}

.results td:last-child {
    padding-right: 20px;
}

.results .active td {
    background: #f0f5fa;
}


.strategies_panel {
    margin-top: 50px;
    /* border-top: 1px solid #ddd; */
}

.strategies {
    width: 100%;
    border-collapse: collapse;
}

.strategies thead td {
    color: #999;
    font-weight: normal;
}

.strategies td {
    padding: 8px;
    text-align: right;
    border-bottom: 1px solid #ddd;
}

.strategies td:first-child {
    text-align: left;
    padding-left: 20px;
}

.strategies td:last-child {
    padding-right: 20px;
}

.strategies .active td {
    background: #f0f5fa;
}



/* Orders */

.orders_and_chart {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#tv_chart_container {
    border-bottom: 5px solid #eee;
}

.orders {
    /* overflow-y: scroll; */
    position: relative;
}

.orders td.instrument {
    width: 180px;
}
.orders td.order_id {
    width: 120px;
}
.orders td.local_id {
    width: 120px;
}

table.orders {
    display: block;
    overflow-y: scroll;
    width: 100%;
    border-collapse: collapse;
}

.orders thead {
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
}

.orders tbody {
    width: 100%;
}

.orders.loading {
    opacity: 0.5;
}

.orders thead td {
    padding: 0;
}
.orders thead td i {
    color: #999;
    padding: 8px 8px 8px 2px;
    border-bottom: 2px solid #ddd;
    display: block;
    font-style: normal;
}
.orders td {
    padding: 8px;
    text-align: right;
    white-space: nowrap;
    width: 1%;
}
.orders tbody td {
    border-top: 1px solid #ddd;
}
.orders tbody .in_oca_group td {
    border-top: 1px dashed #ddd;
    font-size: 85%;
    padding-top: 3px;
    padding-bottom: 4px;
}
.orders tbody tr:first-child td {
    border-top: none;
}
.orders tbody tr:last-child td {
    border-bottom: 1px solid #ddd;
}

/*
https://www.interactivebrokers.com/en/software/mobileandroid/trade/status-colors.htm
#3771f4  light blue
#710eb6  purple
#2c328e  dark blue
#21d932  green
#04461b  dark green
#d42de3  pink
#af470e  orange
#da0b0b  red
#6d0606  maroon
*/
.orders .cancelled td {
    color: #666;
    opacity: 0.5;
}

.orders td.status,
.orders td.amount {
    font-weight: 500;
}

.orders td.side-buy {
    color: #080;
}

.orders td.side-sell {
    color: #d00;
}

.orders .filled td.status {
    color: #333;
}

.orders .error td.status {
    color: #d00;
}

.orders .new td.status {
    color: #4c9bf5;
}

.orders .submitted td.status {
    color: #2fa03a;
}

.orders .presubmitted td.status {
    color: #2a5fda;
}

.orders .order_type span {
    margin-right: 8px;
    color: rgb(52, 141, 231);
    font-size: 0.85em;
}

.orders thead td:first-child i,
.orders tbody td:first-child {
    text-align: left;
    padding-left: 20px;
}

.orders thead td:last-child i,
.orders tbody td:last-child {
    padding-right: 20px;
}

.orders .active td {
    background: #f0f5fa;
}


/* d3.js */

#d3_charts_info,
#d3_charts_results {
    margin-left: 70px;
}

#d3_charts_results {
    width: 200px;
}
#d3_charts_results h3 {
    font-weight: 500;
    margin: 10px 0;
    padding: 0;
}
#d3_charts_results .results-row {
    display: flex;
    border-top: 1px dotted #ccc;
    padding: 3px 0;
}
#d3_charts_results .results-row:last-child {
    border-bottom: 1px dotted #ccc;
}
#d3_charts_results .results-key {
    width: 100px;
}
#d3_charts_results .results-value {
    text-align: right;
    flex-grow: 1;
}

#crosshair_label_time rect,
#crosshair_label_price_l rect,
#crosshair_label_price_r rect {
    fill: #555;
}

#crosshair_label_time text,
#crosshair_label_price_l text,
#crosshair_label_price_r text {
    fill: #fff;
    user-select: none;
}

rect.selection {
    stroke: none;
    fill: none;
}

svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-feature-settings: "tnum" on, "lnum" on;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
    /* font-family: "Helvetica Neue", sans-serif; */
    font-size: 12px;
}

svg path.domain {
    stroke: #aaa;
}

svg g.tick line {
    stroke: #aaa;
}

svg rect.border {
    stroke: #aaa;
}

.grid-x .tick line {
    stroke: #ccc;
    stroke-width: 0.5;
}


@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 1) {

    body {
        font-size: 13px;
    }
    .orders td,
    .results td,
    .positions td {
        padding: 6px;
    }
    .orders thead td i {
        padding: 6px 6px 6px 0;
    }
    .left_sidebar {
        width: 320px;
    }
    .hide_mobile {
        display: none;
    }
    #root {
        min-width: 1150px;
    }
}

