@media (prefers-color-scheme: dark), (prefers-color-scheme: light) {
    :root {
        --some-color-1: #C32170;
        --some-color-2: #9B287B;
        --some-color-3: #732C85;
        --some-color-4: #452F90;
        --some-color-5: #ED1865;

        --primary: #79aec8;
        --secondary: #417690;
        --accent: #f5dd5d;
        --primary-fg: #fff;

        --body-fg: #333;
        --body-bg: #fff;
        --body-quiet-color: #666;
        --body-loud-color: #000;

        --header-color: #ffc;
        --header-branding-color: var(--accent);
        --header-bg: var(--secondary);
        --header-link-color: var(--primary-fg);

        --breadcrumbs-fg: #c4dce8;
        --breadcrumbs-link-fg: var(--body-bg);
        --breadcrumbs-bg: var(--primary);

        --link-fg: #447e9b;
        --link-hover-color: #036;
        --link-selected-fg: #5b80b2;

        --hairline-color: #e8e8e8;
        --border-color: #ccc;

        --error-fg: #ba2121;

        --message-success-bg: #dfd;
        --message-warning-bg: #ffc;
        --message-error-bg: #ffefef;

        --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
        --selected-bg: #f8f8f8; /* E.g. selected table cells */
        --selected-row: #f8f8f8;

        --button-fg: #fff;
        --button-bg: var(--primary);
        --button-hover-bg: #609ab6;
        --default-button-bg: var(--secondary);
        --default-button-hover-bg: #205067;
        --close-button-bg: #888; /* Previously #bbb, contrast 1.92 */
        --close-button-hover-bg: #747474;
        --delete-button-bg: #ba2121;
        --delete-button-hover-bg: #a41515;

        --object-tools-fg: var(--button-fg);
        --object-tools-bg: var(--close-button-bg);
        --object-tools-hover-bg: var(--close-button-hover-bg);
    }
}


body {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: default;
    background: #fff;
}

#site-name {
    width: 200px;
    height: 30px;
    background: url("../../favicon.png") no-repeat;
    background-size: contain;
    display: block;

    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-left: 40px;
    padding-top: 8px;
}
#header a#site-name:link,
#header a#site-name:visited {
    color: white !important;
}

input, textarea,
select, .form-row p,
form .button {
    /*font-family: "Menlo", "Roboto Mono", monospace;*/
    /*letter-spacing: -0.3px;*/
    letter-spacing: 0;
    font-weight: 400;
    font-size: 14px;
}

.aligned label + p,
.aligned label + div.help,
.aligned label + div.readonly {
    /*font-family: "Menlo", "Roboto Mono", monospace;*/
    /*letter-spacing: -0.3px;*/
    font-weight: 400;
}

.change-list .content tbody th,
.change-list .content tbody td,
.change-form .content tbody td,
.change-form .content tbody th {
    /*font-family: "Menlo", "Roboto Mono", monospace;*/
    /*letter-spacing: -0.3px;*/
    font-weight: 400;
    /*padding: 10px 10px;*/
    line-height: 1.8;
    font-size: 14px;
}


#result_list .row2 {
    background: none;
}

a, a:link, a:visited {
    color: #17b;
}
a:focus {
    outline: none !important;
}
a:focus, a:hover {
    color: #06a;
    text-decoration: underline;
}
.addlink,
.viewlink,
.changelink,
.inlineviewlink {
    background: none;
}

#header {
    /*background: #452F90;*/
    /*background: #ED1865;*/
    background-image: linear-gradient(to right, #b42e97, #e18700);
    padding: 15px 40px;
    color: #fff;
}

tr:nth-child(even),
tr:nth-child(even) .errorlist,
tr:nth-child(odd) + .row-form-errors,
tr:nth-child(odd) + .row-form-errors .errorlist {
    background: #fff;
}

thead th, tfoot td {
    font-weight: 500;
}
label {
    font-weight: 400;
}

label {
    color: #999;
}

input, textarea, select, .form-row p, form .button, .form-row {
    line-height: 1.45;
}

/* Remove input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}


#user-tools {
    font-size: 15px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
}
#user-tools a:focus,
#user-tools a:hover {
    color: #c4dce8;
}

#content {
    padding-top: 25px;
}
.change-list #main #content > h1 {
    display: none;
}

div.breadcrumbs {
    font-size: 15px;
    background: #ebebeb;
    color: #333;
    font-weight: bold;
}

div.breadcrumbs a {
    color: #333;
    font-weight: normal;
}

div.breadcrumbs a:focus,
div.breadcrumbs a:hover {
    color: #444;
}

.object-tools {
    margin-top: -53px;
}
.object-tools li {
    margin-left: 8px;
}
.object-tools a:hover {
    text-decoration: none;
}
.object-tools a:link,
.object-tools a:visited {
    display: block;
    float: left;
    padding: 7px 15px 8px 15px;
    font-weight: normal;
    font-size: 14px;
    text-transform: none;
    letter-spacing: 0;
    background-image: none;
    border-radius: 4px;
}


.docs_list li {
    font-size: 16px;
    line-height: 1.6;
}


.change-form #content > h2 {
    display: none;
}

#content #changelist .paginator {
    border: none;
}

#content-main .form-row.field-logo div div label {
    float: right;
    margin-top: -5px;
    margin-left: 5px;
}

.colM .aligned .vLargeTextField,
.colM .aligned .vXMLLargeTextField {
    min-height: 40px;
    height: 112px;
    resize: vertical;
}

#content-main .app-main.module td {
    display: none;
}

.main.shifted > #nav-sidebar + .content {
    max-width: 100%;
}
.main.shifted > #nav-sidebar {
    border: none;
    left: 0;
    margin-top: 20px;
}
#nav-sidebar caption,
#toggle-nav-sidebar
{
    display: none;
}
#nav-sidebar .module th,
#nav-sidebar .module caption {
    padding: 0;
}
#nav-sidebar .module th a {
    display: block;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6;
}
#nav-sidebar .module th a {
    padding: 8px 5px 8px 40px;
}
#nav-sidebar .module td a {
    display: none;
}
#nav-filter {
    display: none;
}




/* Content */

.dashboard #content-main h2 {
    font-size: 22px;
    font-weight: normal;
}
.dashboard #content-main h3 {
    font-size: 18px;
    font-weight: normal;
}

.dashboard .dashboard_table td.mission-content {
    padding: 10px 0 30px 50px;
}
.dashboard .dashboard_table td.vehicle-content {
    padding: 10px 0 30px 50px;
}

.dashboard_table table {
    width: 100%;
}

.dashboard_table td,
.dashboard_table th {
    white-space: nowrap;
    padding: 8px 15px;
}
.dashboard_table td:first-child,
.dashboard_table th:first-child {
    padding-left: 0;
}
.dashboard_table td:last-child,
.dashboard_table th:last-child {
    padding-right: 0;
}



.dynamic-trades .original p,
.dynamic-trade_set .original p,
.dynamic-orderevent_set .original p,
.dynamic-order_set .original p {
    display: none;
}
.inline-group .tabular tr.has_original.dynamic-trades td,
.inline-group .tabular tr.has_original.dynamic-trade_set td,
.inline-group .tabular tr.has_original.dynamic-orderevent_set td,
.inline-group .tabular tr.has_original.dynamic-order_set td {
    padding-top: inherit;
}

#run_form .field-broker_config div.readonly,
#run_form .field-strategy_config div.readonly {
    white-space: pre;
    font-family: monospace;
    font-size: 11px;
}

#tv_chart_container {
    margin-bottom: 40px;
}