body {
    font: 15px Menlo, monospace, sans-serif;
    background: #fff;
}

#buttons {
    font: 12px "PT Sans", sans-serif;
    margin-left: 50px;
    -webkit-user-select: none;
}
#buttons span {
    color: #0e5a8a;
    cursor: pointer;
    border-bottom: dashed 1px;
    padding: 2px 0 1px 0;
    display: inline-block;
}

text {
    fill: #000;
}

path.candle {
    stroke: #000000;
}

path.candle.body {
    stroke-width: 0;
}

path.line {
    fill: none;
    stroke: #ccc;
    stroke-width: 1;
}
line.line,
path.ind {
    fill: none;
    stroke: #000;
    stroke-width: 1;
}
path.indicator-bottom {
    stroke: #080;
}
path.indicator-top {
    stroke: #d80050;
}
path.indicator-mid {
    stroke: #5080d8;
}
path.indicator-stop {
    stroke-width: 5;
    stroke: rgba(0, 0, 0, 0.1);
}

svg {
    background: #fff;
}

path.candle.up {
    fill: #8bb;
    stroke: #8bb;
    stroke-width: 0;
}

path.candle.down {
    fill: #eaa;
    stroke: #eaa;
    stroke-width: 0;
}

path.candle.equal {
    fill: #999;
    stroke: #999;
    stroke-width: 0;
}

path.ohlc {
    stroke: #000000;
}

path.ohlc.up {
    stroke: #8bb;
}

path.ohlc.down {
    stroke: #eaa;
}


rect.pane {
    cursor: move;
    fill: none;
    pointer-events: all;
}

path.tradearrow {
    fill: #444;
    stroke: #fff;
    stroke-width: 1.5;
    cursor: none;
}
path.tradearrow.buy {
    fill: #008800;
    stroke-width: 1;
}
path.tradearrow.sell {
    fill: #d00;
    stroke-width: 1;
}
path.highlight {
    fill: #ff00ff !important;
}

path.signal {
    stroke: none;
    fill: #94ddef;
    stroke-width: 0;
}

path.drawdown {
    stroke: none;
    /*fill: #e99a9a;*/
    fill: #d50;
    opacity: 0.4;
    stroke-width: 0;
}

path.zero {
    stroke: #BBBBBB;
    stroke-dasharray: 0;
    stroke-opacity: 0.5;
}

path.difference {
    fill: #BBBBBB;
    opacity: 0.5;
}

.y-axis-dd .tick text {
    fill: #d00;
}

.grid .domain,
.ind_grid .domain {
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 0.5;
}
.grid .tick line {
    stroke: #000;
    stroke-dasharray: 5 5;
    stroke-opacity: 0.5;
    stroke-width: 0.5;
}
.ind_grid .tick line {
    stroke: #ccc;
}


.crosshair {
    cursor: crosshair;
}

.crosshair path.wire {
    stroke: #999;
    stroke-dasharray: 1, 1;
}

.crosshair .axisannotation path {
    fill: #b8d6b6;
}
.crosshair .axisannotation text {
    font: 11px Menlo, monospace, sans-serif;
    fill: #000;
}


.atrtrailingstop path {
    fill: none;
    stroke-width: 4;
    stroke: #000000;
}

.atrtrailingstop path.down {
    stroke: #f6d1d1;
}

.atrtrailingstop path.up {
    stroke: #cdeac8;
}

