body {
    font: 15px Menlo, monospace, sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

#content {
    display: flex;
    height: 100vh;
    position: relative;
}

#logo {
    background-image: url("favicon.png");
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 15px;
}

#chart {
    -webkit-user-select: none;
    user-select: none;
    flex-grow: 1;
    overflow: hidden;
}

#trades {
    width: 100%;
}
#trades .trade {
    font: 12px Menlo, monospace, sans-serif;
    border-bottom: 1px solid #f0f0f0;
    color: #888;
}
#trades .trade td {
    padding: 2px 8px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 2;
}
#trades .trade td:first-child {
    padding-left: 20px;
}
#trades .trade td:last-child {
    padding-right: 20px;
}
#trades .trade:hover {
    background: #f5f5f5;
    cursor: pointer;
}
#trades .trade.gain .profit {
    color: #080;
}
#trades .trade.loss .profit {
    color: #d00;
}
#trades .trade .date {
    text-align: left;
}
#trades .trade .side {
    text-align: left;
}
#trades .trade .profit {
    text-align: right;
}
#trades .trade .net_value {
    text-align: right;
}


#sidebar {
    height: 100vh;
    flex-grow: 0;
    flex-basis: 300px;
    border-left: 4px solid #e5e5e5;
}
#sidebar .header {
    background: #f5f5f5;
    padding: 15px 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#sidebar .header:first-child {
    margin-top: 0;
}
#sidebar .container {
    overflow-y: scroll;
    min-width: 200px;
    height: 70vh;
}
#sidebar .results {
    padding: 20px;
    color: #444;
}

#buttons {
    padding: 15px 0 5px 0;
    font: 12px "PT Sans", sans-serif;
    margin-left: 60px;
    -webkit-user-select: none;
    display: flex;
    flex-direction: row;
}
#buttons .left {
    flex-grow: 1;
}
#buttons .right {
    flex-grow: 1;
    text-align: right;
    margin-right: 60px;
}
#buttons .left span {
    font-size: 15px;
    cursor: pointer;
    margin-right: 20px;
    display: inline-block;
    letter-spacing: 0.5px;
}
#buttons .button.active {
    border-bottom: 3px solid #59f;
}
#buttons .right span {
    font-size: 13px;
    color: #0e5a8a;
    cursor: pointer;
    border-bottom: dashed 1px;
    padding: 2px 0 1px 0;
    margin-left: 20px;
    display: inline-block;
}
#buttons .left .logo {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    margin-left: -2px;
    margin-right: 30px;
}

text {
    fill: #000;
}

path.candle {
    stroke: #000000;
}

path.candle.body {
    stroke-width: 0;
}

path.line {
    fill: none;
    stroke: #ccc;
    stroke-width: 1;
}
line.line,
path.ind {
    fill: none;
    stroke: #000;
    stroke-width: 1;
}
path.indicator-bottom {
    stroke: #0a0;
    stroke-width: 1;
}
path.indicator-top {
    stroke: #f66;
    stroke-width: 1;
}
path.indicator-mid {
    stroke: #5080d8;
    stroke-width: 2;
}
path.indicator-stop {
    stroke-width: 5;
    stroke: rgba(0, 0, 0, 0.1);
}

svg {
    background: #fff;
}

path.candle.up {
    fill: #8bb;
    stroke: #8bb;
    stroke-width: 0;
}

path.candle.down {
    fill: #eaa;
    stroke: #eaa;
    stroke-width: 0;
}

path.candle.equal {
    fill: #999;
    stroke: #999;
    stroke-width: 0;
}

path.ohlc {
    stroke: #999999;
}

path.ohlc.up {
    stroke: #299fae;
}

path.ohlc.down {
    stroke: #ff6b97;
}




rect.pane {
    cursor: move;
    fill: none;
    pointer-events: all;
}

path.tradearrow {
    fill: #444;
    stroke: #fff;
    stroke-width: 1.5;
    cursor: none;
}
path.tradearrow.buy {
    fill: #008800;
    stroke-width: 1;
}
path.tradearrow.sell {
    fill: #d00;
    stroke-width: 1;
}
path.highlight {
    fill: #ff00ff !important;
}

path.deposit {
    stroke: #94ddef;
    fill: #94ddef;
    stroke-width: 0;
}
path.drawdown {
    stroke: #fff;
    fill: #f9c0b0;
    stroke-width: 1;
}
path.load {
    fill: none;
    stroke: #666;
    stroke-width: 1;
}

path.zero {
    stroke: #BBBBBB;
    stroke-dasharray: 0;
    stroke-opacity: 0.5;
}

path.difference {
    fill: #BBBBBB;
    opacity: 0.5;
}

.tick text {
    font: 11px Menlo, monospace, sans-serif;
    font-weight: lighter;
    fill: #444;
}

.y-axis-dd .tick text {
    fill: #d00;
}

.main-grid .domain,
.macd-grid .domain {
    stroke: #000;
    stroke-width: 1;
}
.main-grid .tick line {
    stroke: #666;
    stroke-dasharray: 8 6;
    stroke-width: 0.5;
}
.macd-grid .tick line {
    stroke: #999;
    stroke-dasharray: 1 3;
    stroke-width: 0.5;
}
.ind_grid .tick line {

}
.tick line.new_week {
    stroke-dasharray: none;
}
.horizon .x-axis .tick line {
    stroke: #999;
    stroke-width: 0.5;
}


.crosshair {
    cursor: crosshair;
}

.crosshair path.wire {
    stroke: #999;
    stroke-dasharray: 1, 1;
}

.crosshair .axisannotation path {
    fill: #b8d6b6;
}
.crosshair .axisannotation text {
    font: 11px Menlo, monospace, sans-serif;
    fill: #000;
}


rect.selection {
    stroke: none;
    fill-opacity: 0.15;
}
