{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Trrrading Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}">
    <script type="text/javascript" src="{% static 'admin/js/charting_library.standalone.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/bundle.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script>
        window.accounts = {{ accounts|safe }}
    </script>
</head>
<body>
    <div id="root">
        <div style="padding: 20px">Loading...</div>
    </div>
    <script type="module" src="{% static 'js/index.js'%}"></script>
</body>
</html>
