{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title of Your Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" src="{% static 'admin/js/charting_library.standalone.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/bundle.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <div id="root">
        Loading...
    </div>
    <script type="module" src="{% static 'js/index.js'%}"></script>
</body>
</html>
